$font: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

$pure-white: #fff
$white: #E8EFFA

$light-grey: #7F8B9D
$grey: #5F6979
$dark-grey: #2B3039
$near-black: #212329
$black: #181A1E

$blue: #02D3F6
$light-blue: #22A6C1
$purple: #8E03FF
$dark-purple: #5803D0