@import 'style/_variables.sss'
@import 'style/_helpers.sss'
@import 'style/_defaults.sss'

#navbar
  height: 4rem

.bg-black
  background-color: $black

.bg-near-black
  background-color: $near-black

.hidden
  display: none

.button-icon 
  width: 1.25rem
  height: 1.25rem
